/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}
button,input,textarea,select{
  font-family: 'Montserrat' , sans-serif;
  outline: none;
}
body{
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
  line-height: 1.5em;
}
ul{margin: 0;padding: 0;list-style: none;}
.inner{
  /* border: 1px solid blue; */
  width: 1300px;
}
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
header.active .banner{
  height: 0;
  opacity: 0;
}
header.active header{
  filter: blur(30px);
}
header.active nav{
  width: 100%;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 30px;
  box-sizing: border-box;
}
header.active .gnb li a{
  color:transparent;
  text-shadow: gray 10px 0px 0px;
}
.banner{
  width: 100%;
  line-height: 40px;
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 0.3s;
}
.lnb{
  width: 1300px;
  height: 30px;
  text-align: right;
}
.lnb a{
  color: rgba(211, 211, 211, 0.576);
  margin-right: 20px;
}
.lnb a:hover{
  color: rgb(199, 191, 191);
}
nav{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}
.logo{
  width: 100px;
  height: 50px;
  margin-right: 20px;
  transition: 0.2s;
}
.logo img{}
.gnb{
  display: flex;
}
.gnb ul{}
.gnb ul li{}
.gnb li a{
  color: white;
  margin: 20px;
}
.gnb li a:last-child{
  margin-right: 0;
}
.gnb li a:hover{
  color: darkgray;
}
.intro{
  height: 70vh;
  background: url(./images/intro.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  color: white;
  text-align: center;
}
.heading h1{
  font-size: 56px;
  margin-bottom: 30px;
}
.heading p{
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px 0 150px;
}

.about-content{
  width: 1300px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content .desc{
  flex: 3;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.about-content .desc h2{
  font-size: 36px;
  margin-bottom: 40px;
}
.about-content .desc p{
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5em;
  padding-left: 40px;
  padding-right: 40px;
  color: gray;
}
.about-content .desc a{
  color: orangered;
  font-size: 20px;
}
.about-content .desc a:hover{
  color: darkorange;
  text-decoration: underline;
}
.about .photo{
  flex: 2;
  margin-right: 40px;
}
.about .photo img{
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  transition: 0.2s;
}
.about .photo img:hover{
  transform: scale(1.05);
  box-shadow: gray 0px 0px 20px;
  filter:brightness(105%);
}

.ranking-content{
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.ranking-content .title{
  font-size: 24px;
}
.ranking-content .cards{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ranking-content .cards .card{
  margin-right: 20px;
  box-shadow: #222 0px 0px 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  border-radius: 30px 0 30px 0 / 30px 0 30px 0;
  transition: 0.2s;
  overflow: hidden;
}
.ranking-content .cards .card:hover{
  transform: scale(1.05);
}
.ranking-content .cards .card .photo:hover{
  border-radius: 0;
  transform: scale(1.05);
}
.ranking-content .cards .card:last-child{
  margin-right: 0;
}
.ranking-content .cards .card .desc{
  padding: 20px;
  flex: 3;
}
.ranking-content .cards .card .desc .teg{
  background-color: crimson;
  width: 70px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin-bottom: 20px;
}
.ranking-content .cards .card .desc .teg.good{
  background-color: lightblue;
  width: 100px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin-bottom: 20px;
}
.ranking-content .cards .card .photo{
  flex: 2;
  transition: 0.3s;
}
.ranking-content .cards .card .photo img{
  width: 100%;
  border-radius: 30px 0 0 0 / 30px 0 0 0;
  transition: 0.2s;
}
.ranking-content .cards .card .desc p{
  color: gray;
}
.ranking-content .cards .card .desc a{
  color: orangered;
  font-size: 16px;
}
.ranking-content .cards .card .desc a:hover{
  color: darkorange;
  text-decoration: underline;
}
.desc a:hover > img{
  transform: translateX(5px);
}
.desc a > img{
  transition: 0.3s;
}
.testimonial-content{
  width: 1300px;
  height: 80vh;
}
.testimonial-title{
  padding: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-title .line{
  width: 100px;
  border: 2px solid blue;
}
.testimonial-content .cards{
  display: flex;
}
.testimonial-content .cards .card{
  flex: 1;
}
.testimonial-content .cards .card .photo-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.testimonial-content .cards .card .photo-box .photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  transition: 0.2s;
}
.testimonial-content .cards .card .photo-box .photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-content .cards .card .photo-box .photo:hover{
  transform: scale(1.05);
  box-shadow: gray 0px 0px 20px;
}
.testimonial-content .cards .card .desc{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: gray;
}

.callaction .inner{
  width: 100vw;
}
.callaction-content{
  width: 100vw;
  height: 450px;
  background: url(./images/callaction-01.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.callaction-content .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.callaction-content .box > div{
  margin: 20px;
}
.callaction-content .box .callaction-title{
  font-size: 25px;
  color: white;
  padding: 20px;
}
.callaction-content .box .callaction-title h1{
  text-align: center;
  padding: 20px;
}
.callaction-content .box button{
  background-color: rgb(38, 180, 38);
  padding: 20px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.callaction-content .box button:hover{
  background-color: springgreen;
  transform: scale(1.05);
  box-shadow: gray 0px 0px 20px;
}
.festival .inner{
  width: 100vw;
}
.festival-content{
  width: 100vw;
  height: 270px;
  background-color: #3a3939;
  display: flex;
  justify-content: center;
  align-items: center;
}
.festival-title{
  color: white;
  font-size: 15px;
}
.festival-content .box .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.festival-content .box .buttons button:first-child{
  background-color: rgb(230, 189, 76);
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  flex: 1;
}
.festival-content .box .buttons button:last-child{
  background-color: white;
  padding: 20px;
  color: black;
  border-radius: 10px;
  margin-right: 20px;
  flex: 1;
}
.festival-content .box .buttons button{
  transition: 0.3s;
}
.festival-content .box .buttons button:hover{
  transform: scale(1.05);
  box-shadow: gray 0px 0px 20px;
}

footer .inner{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
footer .inner .box{
  margin-top: 20px;
  display: flex;
  text-align: center;
  color: white;
}
footer .inner .box .desc{
  flex: 1;
}
footer .inner .box .desc:last-child{
  flex: 2;
}
footer .inner .box .desc p{
  color: gray;
  margin: 20px;
}
footer .inner .box .desc:last-child b{
  color: lightgray;
}

#top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

@media(max-width:768px){
  .intro{
    width: 100vw;
    height: 100vh;
  }
  
  .trigger{
    width: 30px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .trigger span{
    background-color:  darkgray;
    height: 3px;
    width: 100%;
    position: absolute;
    
    transition: 0.3s;
  }
  .trigger span:nth-child(1){
    top: 0;
  }
  .trigger span:nth-child(2){
    top: 50%;
  }
  .trigger span:nth-child(3){
    top:100%
  }
  .intro .inner .heading{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
  .intro .inner .heading h1{
    flex: 2;
    text-align: center;
    line-height: normal;
    padding-top: 100px;
  }
  .intro .inner .heading p{
    flex: 3;
    padding: 0 20px 0 20px;
  }
  .about-content{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .trigger.active span:nth-child(1){
    transform: rotate(45deg) translate(7px, 7px);
  }
  .trigger.active span:nth-child(2){
    opacity: 0;
  }
  .trigger.active span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -7px);
  }
  header.on{
    height: 70vh;
  }
}